<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <p>
        <a href="/new-category">
            ➕ Add New Category
        </a>
    </p>

    <div class="categories-container">

        <% categories.forEach(category => { %>

            <div class="category-card">

                <h2>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </h2>

                <p>
                    <a href="/edit-category/<%= category.category_id %>">
                         Edit Category
                    </a>
                </p>

            </div>

        <% }) %>

    </div>

</main>

<%- include('partials/footer') %>