<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <form action="/new-project" method="POST">

        <div>
            <label>Title</label>
            <input type="text" name="title" required>
        </div>

        <div>
            <label>Description</label>
            <textarea name="description" required></textarea>
        </div>

        <div>
            <label>Location</label>
            <input type="text" name="location" required>
        </div>

        <div>
            <label>Date</label>
            <input type="date" name="date" required>
        </div>

        <!-- DROPDOWN -->
        <div>
            <label>Organization</label>
            <select name="organizationId" required>
                <option value="">Select Organization</option>

                <% organizations.forEach(org => { %>
                    <option value="<%= org.organization_id %>">
                        <%= org.name %>
                    </option>
                <% }) %>

            </select>
        </div>

        <button type="submit">Create Project</button>

    </form>

</main>

<%- include('partials/footer') %>